{% extends 'encyclopedia/layout.html' %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}

    <form action="{% if edit%}{% url 'encyclopedia:edit_page' form.title %}{% else %} {% url 'encyclopedia:new_page' %} {% endif %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Save">
    </form>

    {% if messages %}
        <script>
            {% for message in messages %}
                alert('{{ message }}');
            {% endfor %}
        </script>
    {% endif %}
{% endblock %}